<div fxLayout="column" fxFlex="70" fxLayoutWrap="wrap">
  <div fxFlex fxLayout="row">

    <div fxLayout="column" fxFlex="50">
      <div fxLayout="row">
        <cad-origen-llamada style="width: 100%"></cad-origen-llamada>
      </div>
      <div fxLayout="row">
        <cad-direccion-incidente style="width: 100%"></cad-direccion-incidente>
      </div>
      <div fxLayout="row">
        <cad-descripcion-incidente style="width: 100%"></cad-descripcion-incidente>
      </div>
    </div>

    <div fxLayout="column" fxFlex="50">
      <div fxLayout="row" style="height: 50%;">
        <cad-origen-llamada style="width: 100%"></cad-origen-llamada>
      </div>
      <div fxLayout="row" style="height: 50%;">
        <cad-origen-llamada style="width: 100%"></cad-origen-llamada>
      </div>
    </div>

  </div>

  <div fxFlex fxLayout="row" style="height: 100%;">
    <cad-origen-llamada style="width: 100%"></cad-origen-llamada>
  </div>

</div>
<div fxLayout="column" fxFlex="30">

</div>
