<div class="container-fluid" style="padding: 0 !important;">
  <div class="row" style="margin: 0 !important;">
    <div class="incidencia_medica_acordeon col-lg-8 col-md-12" style="padding: 0 !important;">
      <div class="row" style="margin: 0 !important;">

        <div class="columna1 col-6" style="padding: 0 !important; background: #e3e3e3;">

          <div class="row" [dragula]='"first-bag"' style="margin: 0 !important;">
            <cad-origen-llamada style="width: 100%;" (resize)="onResizeOL($event)" [ngStyle]="styleOriLlam"></cad-origen-llamada>
          </div>
          <div class="row" [dragula]='"first-bag"' style="margin: 0 !important;">
            <cad-direccion-incidente style="width: 100%;" (resize)="onResizeDI($event)" [ngStyle]="styleDirInc"></cad-direccion-incidente>
          </div>
          <div class="row" [dragula]='"first-bag"' style="margin: 0 !important;">
            <cad-descripcion-incidente style="width: 100%;" (resize)="onResizeDEI($event)" [ngStyle]="styleDesInc"></cad-descripcion-incidente>
          </div>

        </div>

        <div class="columna2 col-6" style="padding: 0 !important; background: #e3e3e3;">
          <div class="row" [dragula]='"first-bag"' style="margin: 0 !important;">
            <cad-tipo-incidente style="width: 100%;" (resize)="onResizeTI($event)" [ngStyle]="styleTipInc"></cad-tipo-incidente>
          </div>
          <div class="row" [dragula]='"first-bag"' style="margin: 0 !important;">
            <cad-coorporaciones style="width: 100%;" (resize)="onResizeCO($event)" [ngStyle]="styleCorp"></cad-coorporaciones>
          </div>
          <div class="row" [dragula]='"first-bag"' style="margin: 0 !important;">
            <cad-notas-incidente style="width: 100%;" (resize)="onResizeNI($event)" [ngStyle]="styleNotInc"></cad-notas-incidente>
          </div>
        </div>

      </div>

      <div class="involucrados row" style="margin: 0 !important;">
        <cad-involucrados style="width: 100%"></cad-involucrados>
      </div>

    </div>

    <div class="col-lg-4 col-md-12" style="padding: 0 !important;">
      <div class="row" [dragula]='"first-bag"' style="margin: 0 !important;">
        <cad-cuestionario fxFlex="100"></cad-cuestionario>
      </div>
      <div class="row" [dragula]='"first-bag"' style="margin: 0 !important;">
        <cad-protocolo fxFlex="100"></cad-protocolo>
      </div>
    </div>
  </div>
</div>
