<div fxLayout.lt-lg="column" fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="70" fxFlex.lt-lg="100" class="incidencia_medica_acordeon">
    <div fxFlex fxLayout="row">

      <div fxLayout="column" fxFlex="50" style="border: 1px solid lightgray;" class="columna1" [dragula]='"first-bag"'>

          <cad-origen-llamada></cad-origen-llamada>
          <cad-direccion-incidente></cad-direccion-incidente>
          <cad-descripcion-incidente></cad-descripcion-incidente>

      </div>

      <div fxLayout="column" fxFlex="50" style="border: 1px solid lightgray;" class="columna2" [dragula]='"first-bag"'>

          <cad-tipo-incidente></cad-tipo-incidente>
          <cad-coorporaciones></cad-coorporaciones>
          <cad-notas-incidente></cad-notas-incidente>

      </div>

    </div>

    <div fxFlex fxLayout="row" class="involucrados">
      <cad-involucrados style="width: 100%"></cad-involucrados>
    </div>

  </div>

  <div fxLayout="column" fxLayout.lt-lg="row" fxFlex="30" fxFlex.lt-lg="100" style="border: 1px solid lightgray;">
    <div fxLayout="row" fxLayout.lt-lg="column" fxFlex.lt-lg="50">
      <cad-cuestionario fxFlex="100"></cad-cuestionario>
    </div>
    <div fxLayout="row" fxLayout.lt-lg="column" fxFlex.lt-lg="50">
      <cad-protocolo fxFlex="100"></cad-protocolo>
    </div>
  </div>
</div>
