@import "../../../_mixins";
.no_medica {
    mat-grid-tile {
        background: lightblue;
    }
}

::ng-deep .mat-expansion-panel-spacing {
    margin: 0 !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px 10px !important;
}

body {
    height: 100vh;
}

@function calculate-height($column, $body) {
    @return $column - $body;
}

.columna_1 {
    width: 70%;
    @include tablet {
        width: 100%;
    }
    .columna1 {
        max-height: 65vh;
    }
    .columna2 {
        max-height: 65vh;
    }
}

.columna_2 {
    width: 30%;
    @include tablet {
        width: 100%;
        .row{
            width: 50%;
            display: inline-block;
            
        }
    }
}

::ng-deep .mat-form-field-label:focus-within {
    font-size: 20px;
}