<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Tab 1">
    <ng-template mat-tab-label>
      <mat-icon>supervisor_account</mat-icon>
    </ng-template>
    <cad-tabla-involucrados></cad-tabla-involucrados>
  </mat-tab>
  <mat-tab label="Tab 2">
    <ng-template mat-tab-label>
      <mat-icon>local_car_wash</mat-icon>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 3">
    <ng-template mat-tab-label>
      <mat-icon>domain</mat-icon>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 4">
    <ng-template mat-tab-label>
      <mat-icon>stay_current_portrait</mat-icon>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 5">
    <ng-template mat-tab-label>
      <mat-icon>build</mat-icon>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 6">
    <ng-template mat-tab-label>
      <mat-icon>public</mat-icon>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 7">
    <ng-template mat-tab-label>
      <mat-icon>bug_report</mat-icon>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 8">
    <ng-template mat-tab-label>
      <mat-icon>call</mat-icon>
    </ng-template>

  </mat-tab>
</mat-tab-group>
