<mat-tab-group mat-stretch-tabs class="involucrados">
  <mat-tab label="Tab 1">
    <ng-template mat-tab-label>
      <i class="fas fa-users"></i>
    </ng-template>
    <cad-tabla-involucrados></cad-tabla-involucrados>
  </mat-tab>
  <mat-tab label="Tab 2">
    <ng-template mat-tab-label>
      <i class="fas fa-car"></i>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 3">
    <ng-template mat-tab-label>
      <i class="far fa-building"></i>>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 4">
    <ng-template mat-tab-label>
      <i class="fas fa-mobile-alt"></i>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 5">
    <ng-template mat-tab-label>
      <i class="fas fa-bomb"></i>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 6">
    <ng-template mat-tab-label>
      <i class="fas fa-bong"></i>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 7">
    <ng-template mat-tab-label>
      <i class="fas fa-paperclip"></i>
    </ng-template>

  </mat-tab>
  <mat-tab label="Tab 8">
    <ng-template mat-tab-label>
      <i class="fas fa-phone-volume"></i>
    </ng-template>

  </mat-tab>
</mat-tab-group>