<div class="layout" fxLayout="row">

    <div fxLayout="column" fxFlex="75">
        <div class="ngx-dnd-container" fxLayout="row wrap" ngxDroppable="area">

            <cad-resize-collapse-dragable fxFlex="50" ngxDraggable (resize)="onResizeOL($event)" [ngStyle]="styleOriLlam" [collapsible]="'orilla'">
                <div collapse-head>
                    <span>Origen llamada</span>
                    <span>{{textoOrigenLlamada}}</span>
                </div>
                <cad-origen-llamada collapse-body (formChange)="formChange($event)"></cad-origen-llamada>
            </cad-resize-collapse-dragable>

            <cad-resize-collapse-dragable fxFlex="50" ngxDraggable (resize)="onResizeTI($event)" [ngStyle]="styleTipInc" [collapsible]="'tipinc'">
                    <div collapse-head>Tipo incidente</div>
                    <cad-tipo-incidente collapse-body></cad-tipo-incidente>
                </cad-resize-collapse-dragable>

            <cad-resize-collapse-dragable fxFlex="50" ngxDraggable (resize)="onResizeDI($event)" [collapsible]="'dirinc'">
                <div collapse-head>Direccion incidente</div>
                <cad-direccion-incidente collapse-body></cad-direccion-incidente>
            </cad-resize-collapse-dragable>

            <cad-resize-collapse-dragable fxFlex="50" ngxDraggable (resize)="onResizeCO($event)" [ngStyle]="styleCorp" [collapsible]="'corp'">
                <div collapse-head>Corporaciones</div>
                <cad-coorporaciones collapse-body></cad-coorporaciones>
            </cad-resize-collapse-dragable>

            <cad-resize-collapse-dragable fxFlex="50" ngxDraggable (resize)="onResizeDEI($event)" [ngStyle]="styleDesInc" [collapsible]="'desinc'">
                <div collapse-head>Descripcion</div>
                <cad-descripcion-incidente collapse-body></cad-descripcion-incidente>
            </cad-resize-collapse-dragable>

            <cad-resize-collapse-dragable fxFlex="50" ngxDraggable (resize)="onResizeNI($event)" [ngStyle]="styleNotInc" [collapsible]="'notinc'">
                <div collapse-head>Notas del incidente</div>
                <cad-notas-incidente collapse-body></cad-notas-incidente>
            </cad-resize-collapse-dragable>

        </div>
    </div>

    <div fxLayout="column" fxFlex="25">
        <div fxLayout="row wrap" fxFlex="25" ngxDroppable="area">

            <cad-resize-collapse-dragable ngxDraggable fxFlex="100" (resize)="onResizeCU($event)" [ngStyle]="styleCuest" [collapsible]="'cuest'">
                <div collapse-head>Cuestionario</div>
                <cad-cuestionario collapse-body></cad-cuestionario>
            </cad-resize-collapse-dragable>

            <cad-resize-collapse-dragable ngxDraggable fxFlex="100" (resize)="onResizePRO($event)" [ngStyle]="styleProt" [collapsible]="'prot'">
                <div collapse-head>Protocolo</div>
                <cad-protocolo collapse-body></cad-protocolo>
            </cad-resize-collapse-dragable>

        </div>
    </div>

</div>
