<div class="layout" fxLayout="row">

    <div style="width: 75%;">


        <mat-grid-list cols="1440" rowHeight="1px" gutterSize="0px">

            <mat-grid-tile ngDraggable ngResizable [colspan]="720" [rowspan]="194">
                <cad-resize-collapse-dragable style="width: 100%" [collapsible]="'orilla'">
                    <div collapse-head>
                        <span>Origen llamada</span>
                    </div>
                    <cad-origen-llamada collapse-body></cad-origen-llamada>
                </cad-resize-collapse-dragable>
            </mat-grid-tile>

            <mat-grid-tile ngDraggable ngResizable [colspan]="720" [rowspan]="98">
                <cad-resize-collapse-dragable style="width: 100%" [collapsible]="'tipinc'">
                    <div collapse-head>Tipo incidente</div>
                    <cad-tipo-incidente collapse-body></cad-tipo-incidente>
                </cad-resize-collapse-dragable>
            </mat-grid-tile>

            <mat-grid-tile ngDraggable ngResizable [colspan]="720" [rowspan]="88">
                <cad-resize-collapse-dragable style="width: 100%" [collapsible]="'corp'">
                    <div collapse-head>Corporaciones</div>
                    <cad-coorporaciones collapse-body></cad-coorporaciones>
                </cad-resize-collapse-dragable>
            </mat-grid-tile>

            <mat-grid-tile ngDraggable ngResizable [colspan]="720" [rowspan]="198">
                <cad-resize-collapse-dragable style="width: 100%" [collapsible]="'dirinc'">
                    <div collapse-head>Direccion incidente</div>
                    <cad-direccion-incidente collapse-body></cad-direccion-incidente>
                </cad-resize-collapse-dragable>
            </mat-grid-tile>

            <mat-grid-tile ngDraggable ngResizable [colspan]="720" [rowspan]="347">
                <cad-resize-collapse-dragable style="width: 100%; height: 100%;" [collapsible]="'notinc'">
                    <div collapse-head>Notas del incidente</div>
                    <cad-notas-incidente collapse-body></cad-notas-incidente>
                </cad-resize-collapse-dragable>
            </mat-grid-tile>

            <mat-grid-tile ngDraggable ngResizable [colspan]="720" [rowspan]="98">
                <cad-resize-collapse-dragable style="width: 100%" [collapsible]="'desinc'">
                    <div collapse-head>Descripcion</div>
                    <cad-descripcion-incidente collapse-body></cad-descripcion-incidente>
                </cad-resize-collapse-dragable>
            </mat-grid-tile>

        </mat-grid-list>
    </div>

    <div style="width: 25%">
        <div fxLayout="row wrap">

            <cad-resize-collapse-dragable style="width: 100%" [collapsible]="'cuest'">
                <div collapse-head>Cuestionario</div>
                <cad-cuestionario collapse-body></cad-cuestionario>
            </cad-resize-collapse-dragable>

            <cad-resize-collapse-dragable style="width: 100%" [collapsible]="'prot'">
                <div collapse-head>Protocolo</div>
                <cad-protocolo collapse-body></cad-protocolo>
            </cad-resize-collapse-dragable>

        </div>
    </div>

</div>
