<mat-accordion [multi]="true" mwlResizable [resizeEdges]="{bottom: false, right: true, top: false, left: true}" [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)" [resizeSnapGrid]="{left: 1, right: 1}" [ngStyle]="style" class="mwlResizable accordeon col" style="padding: 0 !important;">
  <mat-expansion-panel class="container2 col" expanded="true" hideToggle="true" [ngStyle]="style" style="padding: 0 !important;">

    <mat-expansion-panel-header>
      <mat-panel-title>
        Descripcion del incidente
      </mat-panel-title>
      <mat-panel-description>
        LLAMADA TELEFONO FIJO
      </mat-panel-description>
      <mat-icon class='handle'>open_with</mat-icon>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div fxFlex="100" class="descripcion_incidente row" style="margin: 10px 0 0 0;">
        <div class="form" fxFlex>

          <div class="row" fxFlex="100" style="margin: 0;">
            <mat-form-field class="input col-12">
              <mat-label>Descripcion del incidente</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>

        </div>
      </div>
      <img src="http://i.imgur.com/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{right: true}">
    </ng-template>

  </mat-expansion-panel>
</mat-accordion>
