<mat-accordion [multi]="true" mwlResizable [resizeEdges]="{bottom: false, right: true, top: false, left: true}" [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)" [resizeSnapGrid]="{left: 50, right: 50}" [ngStyle]="style" class="mwlResizable accordeon">
  <mat-expansion-panel class="container" expanded="true" hideToggle="true" [ngStyle]="style">

    <mat-expansion-panel-header fxFlex="100">
      <mat-panel-title>
        Descripcion del incidente
      </mat-panel-title>
      <mat-panel-description>
        LLAMADA TELEFONO FIJO
      </mat-panel-description>
      <mat-icon class='handle'>open_with</mat-icon>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div fxFlex="100" class="descripcion_incidente">

        <div class="form" fxFlex fxLayout="column" fxLayoutWrap="wrap">

          <div fxLayout="row">
            <mat-form-field fxFlex="100" class="input">
              <mat-label>Descripcion del incidente</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>

        </div>
      </div>
      <img src="http://i.imgur.com/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{right: true}">
    </ng-template>

  </mat-expansion-panel>
</mat-accordion>
