<mat-accordion [multi]="true" mwlResizable [resizeEdges]="{bottom: false, right: true, top: false, left: true}" [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)" [resizeSnapGrid]="{left: 1, right: 1}" [ngStyle]="style" class="mwlResizable accordeon col"
  style="padding: 0 !important;">
  <mat-expansion-panel class="container2" expanded="true" hideToggle="true" [ngStyle]="style">
    <mat-expansion-panel-header fxFlex="100">
      <mat-panel-title>
        Coporaciones
      </mat-panel-title>
      <mat-panel-description>
        Coporaciones
      </mat-panel-description>
      <mat-icon class='handle'>open_with</mat-icon>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div fxFlex="100" class="descripcion_incidente">

        <div class="form" fxFlex fxLayout="column" fxLayoutWrap="wrap">

          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button>
              <mat-icon>account_balance</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>build</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>face</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>gavel</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>motorcycle</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>report</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>whatshot</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>fingerprint</mat-icon>
            </button>
          </div>

        </div>
      </div>
      <img src="http://i.imgur.com/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{right: true}">
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>