::ng-deep .mat-card:not([class*=mat-elevation-z]) {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.origen_llamada {
    height: 100%;

    .form {
        display: flex;
        .input{
          margin: 0px 5px;
        }
    }
}
