<div fxFlex="100" class="origen_llamada">
  <div class="form" fxFlex fxLayout="column" fxLayoutWrap="wrap">

    <div fxLayout="row">
      <mat-form-field fxFlex="40" class="input">
        <mat-label>Colonia</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="40" class="input">
        <mat-label>Calle</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="20" class="input">
        <mat-label>N°</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="40" class="input">
        <mat-label>Estadio</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="40" class="input">
        <mat-label>Ciudad</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="20" class="input">
        <mat-label>C.P.</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="50" class="input">
        <mat-label>Latitud</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="50" class="input">
        <mat-label>Longitud</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
  </div>
</div>
