<mat-accordion [multi]="true" mwlResizable [resizeEdges]="{bottom: false, right: true, top: false, left: true}" [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)" [resizeSnapGrid]="{left: 50, right: 50}" [ngStyle]="style" class="mwlResizable accordeon">
  <mat-expansion-panel class="container" expanded="true" hideToggle="true" [ngStyle]="style">

    <mat-expansion-panel-header fxFlex="100">
      <mat-panel-title>
        Origen de la llamada
      </mat-panel-title>
      <mat-panel-description>
        Colonia - Calle 123 - N°1123
      </mat-panel-description>
      <mat-icon class='handle'>open_with</mat-icon>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div fxFlex="100" class="origen_llamada">
        <div class="form" fxFlex fxLayout="column">

          <div fxLayout="row">
            <mat-form-field fxFlex="40" class="input">
              <mat-label>Colonia</mat-label>
              <input matInput type="text" placeholder="Ingrese colonia">
            </mat-form-field>
            <mat-form-field fxFlex="40" class="input">
              <mat-label>Calle</mat-label>
              <input matInput type="text">
            </mat-form-field>
            <mat-form-field fxFlex="20" class="input">
              <mat-label>N°</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="40" class="input">
              <mat-label>Estadio</mat-label>
              <input matInput type="text">
            </mat-form-field>
            <mat-form-field fxFlex="40" class="input">
              <mat-label>Ciudad</mat-label>
              <input matInput type="text">
            </mat-form-field>
            <mat-form-field fxFlex="20" class="input">
              <mat-label>C.P.</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="50" class="input">
              <mat-label>Latitud</mat-label>
              <input matInput type="text">
            </mat-form-field>
            <mat-form-field fxFlex="50" class="input">
              <mat-label>Longitud</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>
        </div>
      </div>
      <img src="http://i.imgur.com/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{right: true}">
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
