<mat-toolbar fxLayout="column" fxFlex="100" class="toolbar" color="primary">
  <mat-toolbar-row>
    <div fxFlex="20" class="origen">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>911 - León</span>
    </div>
    <div fxFlex class="llamada">
      <div mat-ripple [matRippleUnbounded]="false" class="texto_llamada texto_llamada_color_verde">45685256 - JUAN PEREZ - Llamada telefonica (388) 42587546</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex.sm="20" class="iconos">
      <button mat-button class="generar_reporte">GENERAR REPORTE</button>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>place</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
