<mat-vertical-stepper fxFlex="100" class="cuestionario">
  <mat-step>
    <ng-template matStepLabel>Pregunta numero1 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 1</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero2 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 2</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero3 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 2</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero4 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 2</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero5 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 2</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero6 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 2</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero7 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 2</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero8 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 2</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero9 - Si/no</ng-template>
    <mat-form-field fxFlex="100" class="input">
      <mat-label>Pregunta numero 2</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </mat-step>
</mat-vertical-stepper>
