<mat-vertical-stepper class="cuestionario">
  <mat-step>
    <ng-template matStepLabel>Pregunta numero1 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p1">Pregunta numero 1</label>
      <input id="p1" type="text">
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero2 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p2">Pregunta numero 2</label>
      <input id="p2" type="text">
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero3 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p3">Pregunta numero 2</label>
      <input id="p3" type="text">
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero4 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p4">Pregunta numero 2</label>
      <input id="p4" type="text">
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero5 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p5">Pregunta numero 2</label>
      <input id="p5" type="text">
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero6 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p6">Pregunta numero 2</label>
      <input id="p6" type="text">
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero7 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p7">Pregunta numero 2</label>
      <input id="p7" type="text">
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero8 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p8">Pregunta numero 2</label>
      <input id="p8" type="text">
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pregunta numero9 - Si/no</ng-template>
    <div class="input-field s12">
      <label for="p9">Pregunta numero 2</label>
      <input id="p9" type="text">
    </div>
  </mat-step>
</mat-vertical-stepper>