<div fxFlex="100" class="direccion_incidente">
  <div class="form" fxFlex fxLayout="column" fxLayoutWrap="wrap">

    <div fxLayout="row">
      <mat-form-field fxFlex="30" class="input">
        <mat-label>Colonia</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="30" class="input">
        <mat-label>Calle</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="15" class="input">
        <mat-label>N°</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="15" class="input">
        <mat-label>C.P.</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="50" class="input">
        <mat-label>Municipio</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="50" class="input">
        <mat-label>Referencia</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="50" class="input">
        <mat-label>Entre calle 1</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex="50" class="input">
        <mat-label>Entre calle 2</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
  </div>
</div>
