<form class="col s12 direccion-incidente">

  <div class="row" style="margin: 0; height: 60px;">
    <div class="input-field col s4">
      <label for="colonia">Colonia</label>
      <input id="colonia" type="text">
    </div>
    <div class="input-field col s4">
      <label for="calledi">Calle</label>
      <input id="calledi" type="text">
    </div>
    <div class="input-field col s2">
      <label for="numero">N°</label>
      <input id="numero" type="text">
    </div>
    <div class="input-field col s2">
      <label for="cp">C.P.</label>
      <input id="cp" type="text">
    </div>
  </div>

  <div class="row" style="margin: 0; height: 60px;">
    <div class="input-field col s6">
      <label for="municipio">Municipio</label>
      <input id="municipio" type="text">
    </div>
    <div class="input-field col s6">
      <label for="referencia">Referencia</label>
      <input id="referencia" type="text">
    </div>
  </div>

  <div class="row" style="margin: 0; height: 60px;">
    <div class="input-field col s6">
      <label for="calle1">Entre calle 1</label>
      <input id="calle1" type="text">
    </div>
    <div class="input-field col s6">
      <label for="calle2">Entre calle 2</label>
      <input id="calle2" type="text">
    </div>
  </div>

</form>
