.direccion-incidente {
    width: 100%;
    margin: 0;
    padding: 0;

    .input-field {
        label {
            font-size: 14px !important;
            -webkit-transform: translateY(8px);
            transform: translateY(8px);
        }

        label:not(.label-icon).active {
            transform: translateY(-14px) scale(1) !important;
        }

        input {
            height: 30px !important;
        }
    }
}
